* {
     font-family: Helvetica, "Times New Roman", sans-serif;
} 

.title {
    font-size: 100px;
    text-align: center;
    background-color: orange;
    margin-top: 0%;
}

#homelist li {
    font-size: 40px;
    }

img {
    width: 420;
    height: auto;
    padding-left: 20%;
}

li {
    font-size: 18px;
    width: 700px;
    padding: 1%;
}
ul {
    padding-left: 20%;
}

ol {
    padding-left: 20%;
}

p {
    font-size: 18px;
    width: 700px;
    padding-left: 20%;
}

h2 {
    font-size: 30px;
    padding-left: 20%;
}

h3 {
    font-size: 24px;
    padding-left: 20%;
}
