* {
     font-family: Helvetica, "Times New Roman", sans-serif;
} 


.title {
    font-size: 100px;
    text-align: center;
    background-color: orange;
}

#homelist li {
    font-size: 40px;
    
}

img {
    width: 420;
    height: auto;
}

li {
    font-size: 18px;
    width: 700px;
    padding: 1%;
}

p {
    font-size: 18px;
    width: 700px;
}

